button {
  width: fit-content;

  background-color: rgba(59, 59, 59, 0.5);
  border: 3px solid white;
  color: white;
  padding: 1rem 3rem;
}

button:hover {
  background-color: rgba(59, 59, 59, 0.2);
  cursor: pointer;
}
.call-to-action {
  align-self: flex-end;
  padding: 1rem 5rem;
  border-radius: 0px 0px 20px 0px;
}
