//nav can be change to position fixed to have it scroll
@use "animation";

nav {
  position: relative;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  color: white;
  z-index: 100;
  ul {
    display: flex;
    gap: 1vw;
    list-style: none;
    li {
      text-decoration: none;
      font-size: 0.7em;
      letter-spacing: 2.3px;
      a:hover {
        animation: glitch 1s infinite;
        cursor: pointer;
      }
    }
  }
  .logo {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
  }
}
.burger {
  display: none;
  cursor: pointer;
}

//nav active to be added with js event listner
.nav-active {
  display: flex !important;
}
@media only screen and (max-width: 768px) {
  nav {
    .logo {
      font-size: 6vw;
    }
    ul {
      li {
        font-size: 2.3vw;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  nav {
    left: 20%;
  }
  .nav-items {
    display: none;
    position: absolute;
    right: 25%;
    text-align: right;
    bottom: -170%;
    gap: 0.5rem;
    flex-direction: column;

    //starting position for animation
    li {
      opacity: 0;
      transform: translateY(50px);
    }
  }
  .burger {
    position: absolute;
    right: 25%;
    font-size: 2.5rem;
    display: inline-block;
  }
} ;
