//nav can be change to position fixed to have it scroll
@use "animation";

nav {
  //position: relative;
  //position: absolute;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  color: white;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0);
  ul {
    display: flex;
    list-style: none;
    li {
      text-decoration: none;
      font-size: 0.7em;
      letter-spacing: 2.3px;
      a {
        padding: 1vh;
      }
      a:hover {
        cursor: pointer;
        padding: 1vh;
        border-radius: 100px;
        animation: navSwitch 0.5s ease forwards;
      }
    }
  }
  .logo {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
  }
}
.burger {
  display: none;
  cursor: pointer;
}
.display-none {
  display: none;
}
//nav active to be added with js event listner
.nav-active {
  display: flex !important;
}
@media only screen and (max-width: 768px) {
  nav {
    .logo {
      font-size: 3vw;
    }
    ul {
      gap: 1rem;
      li {
        font-size: 1.5vw;
        a {
          padding: 0;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .nav {
    width: 100%;
    align-items: center;
    padding: 0 2rem;
    margin: 0 0;
    justify-content: space-around;
    height: 60px;
    gap: 1rem;

    .logo {
      margin: 0 auto;
      padding-left: 30%;
      font-size: 6vw;
    }
  }

  .nav-items {
    display: none;
    text-align: right;
    gap: 0.5rem;
    order: -1;

    //starting position for animation
    li {
      opacity: 0;
      transform: translateY(50px);
      font-size: 2.5vw;
    }
  }
  .burger {
    font-size: 3vw;
    display: inline;
    padding: 0;
  }
  .burger:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100px 100px;
    padding: 1vh;
  }
} ;
